/* visually-hidden */
.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  min-width: 200px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.social-common {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* --- Section class for Features, What we do, Our Team, Portfolio -----*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section--no-padding {
    padding-bottom: 0;
    padding-top: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
  }
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.logo--header {
  color: #000000;
}

.logo--footer {
  color: #ffffff;
}

header {
  border: solid #ececec;
  border-width: 0 0 1px 0;
  margin-right: auto;
  margin-left: auto;
}

/* --------- Mob Menu ---------- */
.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mob-menu.is-hidden {
  display: none;
}

.mob-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  height: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.menu-open-btn,
.menu-close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-nav__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.menu-contact__item:first-child {
  margin-bottom: 32px;
}

.menu-contact__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contact__link:hover, .menu-contact__link:focus {
  color: #2196f3;
}

.menu-contact__link--phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-contact__email {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contact__email:hover, .menu-contact__email:focus {
  color: #2196f3;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-social__item {
  padding-right: 10px;
  padding-left: 10px;
  border: solid rgba(33, 33, 33, 0.2);
  border-width: 0 1px 0 0;
}

.menu-social__item:first-child {
  padding-left: 0;
}

.menu-social__item:last-child {
  padding-right: 0;
  border-width: 0 0 0 0;
}

.menu-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.no-scroll {
  overflow: hidden;
}

/* --------- Main-Nav ----------*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --------- Site Navigation --------- */
.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link--current {
    display: block;
    position: relative;
    color: #2196f3;
  }
  .site-nav__link--current::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

/* --------- Contact ---------- */
.contact-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-header__item:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-header__item:first-child {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-header__link:hover, .contact-header__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .contact-header__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-header__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header__icon--mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact-header__icon--phone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header__icon--phone {
    width: 10px;
    height: 16px;
  }
}

/*--------------------------------------------------*/
/* --------- Hero ---------- */
.hero {
  text-align: center;
  padding: 118px 0;
  background-color: #2f303a;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/resized/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/resized/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* -------- Button ---------- */
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

/* -------- Modal ---------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 95vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  padding-bottom: 4px;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input--comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.form__icon {
  position: absolute;
  top: 40%;
  left: 12px;
  color: #212121;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__icon-check {
  display: inline-block;
  min-width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form__checkbox:checked + .form__icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/form/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__disclaimer-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form__disclaimer-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}

.form__disclaimer-text--underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.form__button {
  height: 50px;
  margin-top: 30px;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(33, 33, 33, 0.2);
  /* padding: 6px; */
  background-color: transparent;
  color: #212121;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: #2196f3;
}

.modal__icon {
  fill: currentColor;
}

/*--------- Features -------- */
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.features__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__background {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__background {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.hidden-element {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  margin-top: -1px;
}

/* --------- What We Do --------- */
.examples-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .examples-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples__item + .examples__item {
  margin-left: 30px;
}

.examples__item {
  position: relative;
  z-index: 0;
}

.examples__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ---------- Our Team ----------- */
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.team__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.card {
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(22, 17, 17, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(22, 17, 17, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__content {
  padding: 30px;
  text-align: center;
}

.card__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}

.card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* ---------- Our Team ----------- */
/* ---------- Clients --------- */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 50px;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-top: 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .clients__link:hover, .clients__link:focus {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link:hover, .clients__link:focus {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link:hover, .clients__link:focus {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/*.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -30px;

  @include desktop {
    margin-top: 50px;
  }
}

.clients__item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 4 * 15px) / 2);

  &:nth-child(even) {
  }

  @include tablet {
    flex-basis: calc((100% - 6 * 10px) / 3);
  }

  &:nth-child(even) {
    @include tablet {
      margin-right: 30px;
    }
  }

  &:nth-child(3n + 3) {
    @include tablet {
      margin-right: 0;
    }
  }

  &:nth-child(n + 4) {
    @include tablet {
      margin-bottom: 0;
    }
  }

  @include desktop {
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin-bottom: 0;
  }

  &:nth-child(3) {
    @include desktop {
      margin-right: 30px;
    }
  }
  &:last-child {
    @include desktop {
      margin-right: 0;
    }
  }
}

.clients__link {
  @include flexCenter;

  height: 92px;
  border: 1px solid $iconsBorderAndFill;
  border-radius: 4px;
  color: $iconsBorderAndFill;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentBlueColor;
    border-color: $accentBlueColor;

    @include mobile {
      width: 210px;
    }

    @include tablet {
      width: 226px;
    }
    @include desktop {
      width: 170px;
    }
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
*/
/* ----------- Footer ------------ */
footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* ---- First container ----*/
.first-container {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .first-container {
    text-align: start;
    margin-bottom: 0px;
  }
}

.contact-footer {
  margin-top: 20px;
}

.contact-footer__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-footer__item {
    margin-bottom: 9px;
  }
}

.contact-footer__item:last-child {
  margin-bottom: 0px;
}

.contact-footer__location {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.contact-footer__info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__info:hover, .contact-footer__info:focus {
  color: #2196f3;
}

/* ---- Second container ----*/
.second-container {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .second-container {
    text-align: start;
    margin-left: 70px;
    margin-bottom: 0px;
  }
}

.second-container__title,
.third-container__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__list + .social-media__list {
  margin-left: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
}

/* ---- Third container ----*/
.third-container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .third-container {
    text-align: start;
    margin-left: 93px;
  }
}

.third-container__title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .third-container__title {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.form-footer__input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .form-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    display: inline;
    width: 358px;
    margin-bottom: 0px;
  }
}

.form-footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-footer__button {
    margin-left: 12px;
  }
}

.form-footer__button::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/form/icon send.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ----------- Footer ------------ */
/* ------------- Portfolio -------------*/
/* ---------- Filter buttons ------------ */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--current {
  background-color: #2196f3;
  color: #ffffff;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-bottom: 0;
  }
}

/* --------- Card-Set ---------- */
@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.card-set__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-set__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.card-set__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/*  ---------- Overlay ----------- */
.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover .card-set__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card-set__content {
  padding: 20px 24px;
  border: solid #ececec;
  border-width: 0 1px 1px 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-set__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */