$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$blackTextColor: #000000;
$accentBlueColor: #2196f3;
$footerTextColor: rgba(255, 255, 255, 0.6);
$whiteColor: #ffffff;
$secondaryDarkBcgColor: #2f303a;
$thirdBcgColor: #f5f4fa;
$buttonHoverColor: #188ce8;
$borderColor: #ececec;
$iconsBorderAndFill: #afb1b8;
$modalBackdropColor: rgba(0, 0, 0, 0.2);
$modalText: rgba(117, 117, 117, 0.5);
$modalBorderGray: rgba(33, 33, 33, 0.2);
$cardSetOverlay: rgba(33, 150, 243, 0.9);
$examplesTextOverlay: rgba(47, 48, 58, 0.8);

$marginGap: 30px;
$secondaryFont: Raleway, sans-serif;

// --- Breakpoints -----
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
