/* ---------- Clients --------- */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * #{$marginGap});
  margin-left: calc(-1 * #{$marginGap});

  @include desktop {
    margin-top: 50px;
  }
}

.clients__item {
  flex-basis: calc(100% / 2 - #{$marginGap});
  margin-top: $marginGap;
  margin-left: $marginGap;

  @include tablet {
    flex-basis: calc(100% / 3 - #{$marginGap});
  }

  @include desktop {
    flex-basis: calc(100% / 6 - #{$marginGap});
    margin-top: 0;
  }
}

.clients__link {
  @include flexCenter;

  height: 92px;
  border: 1px solid $iconsBorderAndFill;
  border-radius: 4px;
  color: $iconsBorderAndFill;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentBlueColor;
    border-color: $accentBlueColor;

    @include mobile {
      width: 210px;
    }

    @include tablet {
      width: 226px;
    }
    @include desktop {
      width: 170px;
    }
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

// Version 2
/*.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -30px;

  @include desktop {
    margin-top: 50px;
  }
}

.clients__item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 4 * 15px) / 2);

  &:nth-child(even) {
  }

  @include tablet {
    flex-basis: calc((100% - 6 * 10px) / 3);
  }

  &:nth-child(even) {
    @include tablet {
      margin-right: 30px;
    }
  }

  &:nth-child(3n + 3) {
    @include tablet {
      margin-right: 0;
    }
  }

  &:nth-child(n + 4) {
    @include tablet {
      margin-bottom: 0;
    }
  }

  @include desktop {
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin-bottom: 0;
  }

  &:nth-child(3) {
    @include desktop {
      margin-right: 30px;
    }
  }
  &:last-child {
    @include desktop {
      margin-right: 0;
    }
  }
}

.clients__link {
  @include flexCenter;

  height: 92px;
  border: 1px solid $iconsBorderAndFill;
  border-radius: 4px;
  color: $iconsBorderAndFill;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentBlueColor;
    border-color: $accentBlueColor;

    @include mobile {
      width: 210px;
    }

    @include tablet {
      width: 226px;
    }
    @include desktop {
      width: 170px;
    }
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
*/

// .clients {
//   display: flex;
//   flex-wrap: wrap;

//   margin-top: 30px;

//   @media screen and (min-width: 1200px) {
//     margin-top: 50px;
//   }

//   @media screen and (max-width: 1199px) {
//     margin-right: -30px;
//     margin-bottom: -30px;
//   }
// }

// .clients__item {
//   @media screen and (max-width: 1199px) {
//     margin-right: 30px;
//     margin-bottom: 30px;
//   }

//   @media screen and (min-width: 0) and (max-width: 300px) {
//     flex-basis: calc((100%));
//   }

//   @media screen and (min-width: 300px) and (max-width: 767px) {
//     flex-basis: calc((100% - 4 * 15px) / 2);
//   }

//   @media screen and (min-width: 480px) and (max-width: 1199px) {
//     flex-basis: calc((100% - 6 * 15px) / 3);
//   }
// }

// .clients__item + .clients__item {
//   @media screen and (min-width: 1200px) {
//     margin-left: $marginGap;
//   }
// }

// .clients__link {
//   @include flexCenter;
//   height: 92px;
//   border: 1px solid $iconsBorderAndFill;
//   border-radius: 4px;
//   color: $iconsBorderAndFill;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accentBlueColor;
//     border-color: $accentBlueColor;
//   }

//   @media screen and (min-width: 480px) {
//     width: 210px;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     width: 226px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 170px;
//   }
// }

// .clients__icon {
//   fill: currentColor;
//   width: 106px;
//   height: 60px;
// }
