/* ---------- Clients --------- */
.clients {
  // display: flex;
  margin-top: 50px;
}

.clients__item {
  // display: flex;
  margin-bottom: 30px;
}
.clients__item + .clients__item {
  // margin-left: $marginGap;
}

.clients__link {
  @include flexCenter;
  width: 210px;
  height: 92px;
  border: 1px solid $iconsBorderAndFill;
  border-radius: 4px;
  color: $iconsBorderAndFill;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentBlueColor;
    border-color: $accentBlueColor;
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

// .clients {
//   display: flex;
//   flex-wrap: wrap;

//   margin-top: 30px;

//   @media screen and (min-width: 1200px) {
//     margin-top: 50px;
//   }

//   @media screen and (max-width: 1199px) {
//     margin-right: -30px;
//     margin-bottom: -30px;
//   }
// }

// .clients__item {
//   @media screen and (max-width: 1199px) {
//     margin-right: 30px;
//     margin-bottom: 30px;
//   }

//   @media screen and (min-width: 0) and (max-width: 300px) {
//     flex-basis: calc((100%));
//   }

//   @media screen and (min-width: 300px) and (max-width: 767px) {
//     flex-basis: calc((100% - 4 * 15px) / 2);
//   }

//   @media screen and (min-width: 480px) and (max-width: 1199px) {
//     flex-basis: calc((100% - 6 * 15px) / 3);
//   }
// }

// .clients__item + .clients__item {
//   @media screen and (min-width: 1200px) {
//     margin-left: $marginGap;
//   }
// }

// .clients__link {
//   @include flexCenter;
//   height: 92px;
//   border: 1px solid $iconsBorderAndFill;
//   border-radius: 4px;
//   color: $iconsBorderAndFill;

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accentBlueColor;
//     border-color: $accentBlueColor;
//   }

//   @media screen and (min-width: 480px) {
//     width: 210px;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     width: 226px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 170px;
//   }
// }

// .clients__icon {
//   fill: currentColor;
//   width: 106px;
//   height: 60px;
// }
