/*--------- Features -------- */

.features {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$marginGap});
    margin-left: calc(-1 * #{$marginGap});
  }
}

.features__item {
  margin-bottom: $marginGap;

  @include tablet {
    flex-basis: calc(100% / 2 - #{$marginGap});

    margin-top: $marginGap;
    margin-left: $marginGap;

    margin-bottom: 0;
  }

  @include desktop {
    flex-basis: calc(100% / 4 - #{$marginGap});
  }
}

.features__background {
  @include flexCenter;
  flex-wrap: wrap;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: $thirdBcgColor;
  margin-bottom: $marginGap;

  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  @include font(14px, 700, 1.14);
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features__text {
  color: $secondaryTextColor;
  @include font(14px, null, 1.71);

  margin-top: 10px;
}

.hidden-element {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  margin-top: -1px;
}
