/* --------- Hero ---------- */
.hero {
  text-align: center;
  padding: 118px 0;
  background-color: $secondaryDarkBcgColor;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/resized/hero/mobile/img-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/resized/hero/mobile/img@2x-min.jpg');
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/resized/hero/tablet/img-min.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/resized/hero/tablet/img@2x-min.jpg');
    }
  }
  @include desktop {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/resized/hero/desktop/img-min.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/resized/hero/desktop/img@2x-min.jpg');
    }
  }
}

.hero__title {
  color: $whiteColor;
  @include font(26px, 900, 1.62);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    @include font(44px, null, 1.36);
  }
}

/* -------- Button ---------- */

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: $marginGap;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $buttonHoverColor;
  }
}
