.logo {
  color: $accentBlueColor;
  font-family: $secondaryFont;
  @include font(26px, 700, 1.2);
  text-decoration: none;

  &--header {
    color: $blackTextColor;
  }
  &--footer {
    color: $whiteColor;
  }
}
