/* -------- Modal ---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: $modalBackdropColor;

  opacity: 1;
  transform: scaleX(1);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transform: scaleX(0);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  @include positionAbsoluteCenter;
  min-width: 528px;
  min-height: 581px;

  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  @include font(20px, 700, 1.15);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: $primaryTextColor;
}

.form__info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__label {
  @include font(12px, 400, 1.16);
  letter-spacing: 0.01em;
  text-align: left;
  padding-bottom: 4px;

  color: $secondaryTextColor;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid $modalBorderGray;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;

  &:focus {
    outline: none;
    border: 1px solid $accentBlueColor;
  }
}

.form__input--comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  @include font(12px, 400, 1.16);
  letter-spacing: 0.01em;
  color: $modalText;
  resize: none;
}

.form__icon {
  position: absolute;
  top: 40%;
  left: 12px;
  color: $primaryTextColor;

  .form__input:focus + & {
    fill: $accentBlueColor;
  }
}

.form__disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__field {
  display: flex;
  align-items: center;
}

.form__checkbox {
  @extend %visuallyHidden;
}

.form__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $primaryTextColor;
  border-radius: 2px;

  margin-right: 7px;

  .form__checkbox:checked + & {
    background-color: $accentBlueColor;
    border-color: $accentBlueColor;
    background-image: url('../images/form/icon\ check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.form__disclaimer-text {
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
}

.form__disclaimer-text--underline {
  text-decoration-line: underline;
  color: $accentBlueColor;
}

.form__button {
  height: 50px;

  margin-top: 30px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button {
  @include flexCenter;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: $modalBorderGray;
  /* padding: 6px; */

  background-color: transparent;
  color: $primaryTextColor;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentBlueColor;
  }
}

.modal__icon {
  fill: currentColor;
}
