/* ---------- Our Team ----------- */

.team {
  @include tablet {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1 * #{$marginGap});
    margin-left: calc(-1 * #{$marginGap});
  }
}

.team__item {
  margin-bottom: 30px;

  @include tablet {
    flex-basis: calc(100% / 2 - #{$marginGap});

    margin-top: $marginGap;
    margin-left: $marginGap;

    margin-bottom: 0;
  }

  @include desktop {
    flex-basis: calc(100% / 4 - #{$marginGap});
  }
}

.card {
  display: inline-block;
  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(22, 17, 17, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__content {
  padding: 30px;
  text-align: center;
}
.card__name {
  margin-bottom: 10px;
  @include font(16px, 500, 1.18);
}

.card__text {
  color: $secondaryTextColor;
  @include font(16px, null, 1.18);
}

.social {
  @include flexCenter;
  margin-top: 16px;
}
.social__item {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  @include flexCenter;

  color: $iconsBorderAndFill;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $whiteColor;
    background-color: $accentBlueColor;
  }
}

/* ---------- Our Team ----------- */

// .team {
//   // display: flex;
// }

// .team > .team__item + .team__item {
//   // margin-left: $marginGap;
// }

// .card {
//   background-color: $whiteColor;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .card__content {
//   padding: 30px;
//   text-align: center;
// }
// .card__name {
//   margin-bottom: 10px;
//   @include font(16px, 500, 1.18);
// }

// .card__text {
//   color: $secondaryTextColor;
//   @include font(16px, null, 1.18);
// }

// .social {
//   @include flexCenter;
//   margin-top: 16px;
// }
// .social__item {
//   display: flex;
//   justify-content: center;
// }

// .social__item + .social__item {
//   margin-left: 10px;
// }

// .social__link {
//   @include flexCenter;

//   color: $iconsBorderAndFill;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $whiteColor;
//     background-color: $accentBlueColor;
//   }
// }
