// header {
//   border: solid $borderColor;
//   border-width: 0 0 1px 0;
//   margin-right: auto;
//   margin-left: auto;
// }

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

/* ------- Menu -------*/

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}

.menu-container {
  background-color: powderblue;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}

// /* --------- Main-Nav ----------*/
// .page-header {
//   display: flex;
//   align-items: center;
// }

// /* --------- Site Navigation --------- */
// .site-nav {
//   display: flex;
//   margin-left: 93px;
// }

// .site-nav__item + .site-nav__item {
//   margin-left: 50px;
// }

// .site-nav__link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: $primaryTextColor;
//   @include font(14px, 500, 1.14);
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accentBlueColor;
//   }
// }

// .site-nav__link--current {
//   display: block;
//   position: relative;
//   color: $accentBlueColor;

//   &::after {
//     position: absolute;
//     bottom: -1px;
//     content: '';
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;

//     background-color: $accentBlueColor;
//   }
// }

// /* --------- Contact ---------- */
// .contact-header {
//   display: flex;
//   margin-left: auto;
// }

// .contact-header__item + .contact-header__item {
//   margin-left: 50px;
// }

// .contact-header__link {
//   display: flex;
//   align-items: center;

//   color: $secondaryTextColor;
//   @include font(14px, 500, 1.14);
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accentBlueColor;
//   }
// }

// .contact-header__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
