/* --------- What We Do --------- */
.examples {
  display: flex;
}

.examples__item + .examples__item {
  margin-left: $marginGap;
}

.examples__item {
  position: relative;
  z-index: 0;
}

.examples__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $whiteColor;
  background-color: $examplesTextOverlay;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;

  @extend %flexCenter;
}
