/* --------- What We Do --------- */

.examples-container {
  display: none;
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.examples {
  display: flex;
}

.examples__item + .examples__item {
  margin-left: $marginGap;
}

.examples__item {
  position: relative;
  z-index: 0;
}

.examples__title {
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: $whiteColor;
  background-color: $examplesTextOverlay;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;

  @include flexCenter;
}
