body {
  background-color: $whiteColor;
  color: $primaryTextColor;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  min-width: 200px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: $accentBlueColor;
  color: $whiteColor;
}

.social-common {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
